VITE_SUPABASE_URL=https://ijkfehpfvabwjvgasgye.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_GEOAPIFY_API_KEY=
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_TrdNxm84Hnp9GQcEaxOQWg_fArzw9Wc
VITE_API_URL=http://localhost:4000/api
